*[class*="share__"] {
	color: transparent;
	display: inline-block;
	overflow: hidden;
	height: 30px;
	width: 30px;
	background: blue;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: auto 45%;
	margin: 0 5px 0 0;
	&.share__facebook {
		background-image: SVG-facebook(#fff);
		background-color: transparent;
	}
	&.share__googleplus {
		background-image: SVG-googleplus(#fff);
		background-color: transparent;
	}
	&.share__linkedin {
		background-image: SVG-linkedin(#fff);
		background-color: transparent;
	}
	&.share__twitter {
		background-image: SVG-twitter(#fff);
		background-color: transparent;
	}
	&.share__email {
		background-image: SVG-email(#fff);
		background-color: transparent;
		background-size: 55% auto;
	}
}