$breakpoint: 768px;
$gutter: 20px;
$primary-font : "filson-pro",sans-serif;
$secondary-font : "essonnes-display", serif;

//
//  MEDIA QUERIES
//––––––––––––––––––––––––––––––––––––––––––––––––––

// A map of breakpoints.
$breakpoints: (
xs: 0,
mb: 375px,
sm: 576px,
md: 768px,
lg: 992px,
xl: 1200px,
xxl:1400px
);


//
//  RESPOND ABOVE
//––––––––––––––––––––––––––––––––––––––––––––––––––

// @include respond-above(sm) {}
@mixin respond-above($breakpoint) {

    // If the breakpoint exists in the map.
    @if map-has-key($breakpoints, $breakpoint) {

        // Get the breakpoint value.
        $breakpoint-value: map-get($breakpoints, $breakpoint);

        // Write the media query.
        @media (min-width: $breakpoint-value) {
            @content;
        }

        // If the breakpoint doesn't exist in the map.
    } @else {

        // Log a warning.
        @warn 'Invalid breakpoint: #{$breakpoint}.';
    }
}


//
//  RESPOND BELOW
//––––––––––––––––––––––––––––––––––––––––––––––––––

// @include respond-below(sm) {}
@mixin respond-below($breakpoint) {

    // If the breakpoint exists in the map.
    @if map-has-key($breakpoints, $breakpoint) {

        // Get the breakpoint value.
        $breakpoint-value: map-get($breakpoints, $breakpoint);

        // Write the media query.
        @media (max-width: ($breakpoint-value - 1)) {
            @content;
        }

        // If the breakpoint doesn't exist in the map.
    } @else {

        // Log a warning.
        @warn 'Invalid breakpoint: #{$breakpoint}.';
    }
}


//
//  RESPOND BETWEEN
//––––––––––––––––––––––––––––––––––––––––––––––––––

// @include respond-between(sm, md) {}
@mixin respond-between($lower, $upper) {

    // If both the lower and upper breakpoints exist in the map.
    @if map-has-key($breakpoints, $lower) and map-has-key($breakpoints, $upper) {

        // Get the lower and upper breakpoints.
        $lower-breakpoint: map-get($breakpoints, $lower);
        $upper-breakpoint: map-get($breakpoints, $upper);

        // Write the media query.
        @media (min-width: $lower-breakpoint) and (max-width: ($upper-breakpoint - 1)) {
            @content;
        }

        // If one or both of the breakpoints don't exist.
    } @else {

        // If lower breakpoint is invalid.
        @if (map-has-key($breakpoints, $lower) == false) {

            // Log a warning.
            @warn 'Your lower breakpoint was invalid: #{$lower}.';
        }

        // If upper breakpoint is invalid.
        @if (map-has-key($breakpoints, $upper) == false) {

            // Log a warning.
            @warn 'Your upper breakpoint was invalid: #{$upper}.';
        }
    }
}

@mixin range( $attribute, $value, $min: 250, $max: 1000, $unit: 1vw ){
    #{$attribute}: $value/ 100 * ($min + ($max - $min) / 2) * 1px;
    #{$attribute}: $value * $unit;
    @media all and (max-width:#{$min}px){
        #{$attribute}: $value / 100 * $min * 1px;
    }
    @media all and (min-width:#{$max}px){
        #{$attribute}: $value / 100 * $max * 1px;
    }
}
@mixin container { @at-root #container { @content; } }

/* Styles */

[width="0"],[height="0"]{
    position: fixed;
    top: -99999px;
    left: -99999px;
}

html, body {
    height: 100%;
    background: #183a3e;
    line-height: 1.5;
    color: #fff;
    font-family: $primary-font;
    font-weight: 200;
}
h1,h2,h3,h4{
    font-family: $secondary-font;
}


.wrapper{
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    margin-right: -10px;
    margin-left: -10px;
    > .col, >  [class*="col-"] {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto{
    position: relative;
    width: 100%;

}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}
@include respond-above(md) {
    .col-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .offset-1 {
        margin-left: 8.333333%;
    }

    .offset-2 {
        margin-left: 16.666667%;
    }

    .offset-3 {
        margin-left: 25%;
    }

    .offset-4 {
        margin-left: 33.333333%;
    }

    .offset-5 {
        margin-left: 41.666667%;
    }

    .offset-6 {
        margin-left: 50%;
    }

    .offset-7 {
        margin-left: 58.333333%;
    }

    .offset-8 {
        margin-left: 66.666667%;
    }

    .offset-9 {
        margin-left: 75%;
    }

    .offset-10 {
        margin-left: 83.333333%;
    }

    .offset-11 {
        margin-left: 91.666667%;
    }
}
.justify-content-between {
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.justify-content-center {
    -ms-flex-pack: center ;
    justify-content: center;
}


.progress-bar{
    position:relative;
    .progress-bar-fill{
        background: #006565;
        height: 100%;
        transition: width 0.3s ease-in-out;
        position: absolute;
        left: 0;
        top: 0;
    }
    .progress-bar-base{
        background: #e0ba91;
        height: 5px; 
    }

}
.header{
    width: 100%;
    z-index: 10;
    left: 0;
    position:fixed;
    .row{
        justify-content: space-between;
        align-items: center;
    }
    .logo{
        display: inline-block;
        padding-top: 15px;
        @include respond-above(md) {
            padding-top: 25px;
        }
        img{
            @include respond-above(md) {
                width: 182px; 
                height: auto;
            }
        }

    }
    .header-right{
        align-items: center;
        display: flex;
        > div{
            margin-left: 20px;
        }
    }
    .share{
        cursor: pointer;
        display: flex;
        align-items: center;
        a{
            &:last-child{
                margin-right: 0;
            } 
        }
        #social{
            display: none;
        }

    }
    .sound{
        cursor: pointer;
    }
}
.nav-trigger{
    width:24px;
    display: inline-block;
    position:relative;
    z-index:1;
    &.action{
        cursor: pointer;
    }
}
#primary-nav{
    opacity: 0;
    line-height: 1.2;
    visibility: hidden;
    background: #183a3e;
    height: calc(100vh - 60px);
    overflow: hidden;
    color: #fff;
    font-size: 14px;
    position: fixed;
    transition: all 0.3s ease-in-out;
    z-index: 0;
    width: 100%;
    top: 60px;
    @include respond-above(md){
        font-size: 20px;
    }
    .nav-active &{
        opacity: 1;
        visibility: visible;
        z-index: 100;
    }
    .nav-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 15px;
        .logo{
            img{
                @include respond-below(md){
                    width: 160px;
                    height: auto;

                }  
            }

        }
    }
    .text-block{
        text-align: center;
        line-height: 1.5;
        max-width: 680px;
        margin: 40px auto;
        @include respond-above(md){
            margin: 50px auto;
        }
        .logo{
            display: inline-block;
            margin-bottom: 10px;
            @include respond-above(md){
                margin-bottom: 30px; 
            }
            img{
                @include respond-below(md){
                    width: 245px;
                    height: auto;

                }  
            }

        }
    }
    .main-nav{
        padding: 0 ;
        margin: 0;
        list-style: none;
        li{
            position: relative;
            padding: 0 30px;
            transition: all 0.3s ease-in-out;
            margin-bottom: 30px;
            @include respond-above(lg){
                padding: 0 8.333333%;
            }
            &.current-menu{
                opacity: 0.6;
            }
            &:hover{
                opacity: 0.6;
            }
            &:before{
                left: 0;
                content: "";
                width: 100%;
                left: 0;
                top: 24px;
                position: absolute;
                border: 1px solid #fff;
                @include respond-above(md){
                    top: 58px;
                }
            }
        }
        a{
            text-decoration: none;
            display: flex;
            width: 100%;
            justify-content: space-between;
            color: #fff;
        }
        .right{
            text-align: right;
        }
        .counter-wrap{
            margin-top: -10px;
            height: 35px;
            margin-right: 30px;
            min-width: 75px;
            overflow: hidden;
            @include respond-above(md){
                margin-top: -10px;
                height: 70px;
            }
        }
        .count{
            line-height: 0.7;
            font-family: $primary-font;
            font-weight: 100; 
            font-size: 60px;
            @include respond-above(md){
                font-size: 125px;
            }
        }
        .name{
            font-family: $secondary-font;
            font-size: 25px;
            @include respond-above(md){
                font-size:60px;
            }

        }
    }
}
.nav-close{
    cursor: pointer;
    height: 20px;
    width: 20px;
    position:relative;
    span{
        background-color:#fff;
        transition: transform .3s,background .3s;
        transform-origin: center center;  
        height: 1px;
        position:absolute;
        width:26px;
    }
    .line1{
        transform: translate(-3px,9px) rotate(45deg);
        &:before{
            position: absolute;
            height: 5px;
            margin-top: -1px;
            width: 5px;
            content: "";
            background: #183a3e;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .line2{
        transform: translate(-3px,9px) rotate(-45deg);
    }
}

.fully{
    height: calc(100vh - 65px);
    overflow: hidden;
}
.media{
    height: 100%;
    position: absolute;
    width: 100%;
    overflow: hidden;
    .media-overlay{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(19,30,31,.7);
        z-index: 1;
    }
    .media-bg{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;

    }
    img.poster {
        opacity: 0;
        position:absolute;
        top:0;
        left:0;
        z-index: -1;
    }

}
.video-sound-wrapper{
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 90px;
    width: 90px;
    @include respond-above(md) {
        height: 110px;
        width: 110px; 
    }
    .video-sound{
        cursor:pointer;
        svg{
            margin-bottom: 10px;
        }
    } 
    span{
        text-transform: uppercase;
        font-family: $primary-font;
        color: #fff;
        font-size: 16px;
        text-align: center;
        display: block;
        @include respond-above(md) {
            font-size: 18px;
        }
    }
}
.text-right{
    text-align: right;
}
#fullpage{
    height: calc(100vh - 65px);
    overflow: hidden;
    position: relative;
    width: 100%;
}

.module{ 
    height: calc(100vh - 65px);
    overflow: hidden;
    width: 100%;
    position: absolute;
    z-index: 1;
    
    &.active{
        z-index: 2 ;
    }
    .content-block{
        z-index: 3; 
        position: relative;
    }
    h3{
        font-size: 19px;
        color: #eee6d0;
        @include respond-above(md){
            font-size: 28px;
        }
    }
    .text{
        font-size: 14px;
        line-height: 1.5;
        margin-bottom: 50px;
        &:last-child{
            margin-bottom: 0;
        }
        @include respond-above(md){
            font-size: 20px;
        }
    }
    &-video{
        .content{
            padding-top: 90px;
            font-size: 20px;
            @include respond-above(md) {
                padding-top: 160px;
            }
            h2{
                font-size: 43px;
                @include respond-above(md){
                    font-size:50px;
                }
                @include respond-above(lg) {
                    font-size: 60px;
                }

            }
        }
    }
    &-intro{
        display: flex;
        .content-block{
            display: flex;
            align-items: center;
        }
        .content{
            position: relative;
            z-index: 1;
            font-size: 14px;
            padding-left:  20%;
            padding-right:   20%;
            line-height: 1.6;
            @include respond-above(md){
                font-size:16px;
            }
            @include respond-above(lg){
                font-size: 22px;
            }


        }
    }

    &-quote{
        display: flex;
        justify-content: center;
        align-items: center;
        .wrapper{
            max-width: 920px;
        }
        blockquote{
            line-height: 1.2;
            font-family: $secondary-font;
            font-size: 28px;
            letter-spacing: 8px;
            text-transform: uppercase;
            @include respond-above(md){
                font-size: 40px;  
            }
            @include respond-above(lg){
                font-size: 52px;  
                letter-spacing: 12px;
            }

            .lines{
                position: relative;
                display: inline-block;
                vertical-align: middle;
                margin-top: -10px;
                span{
                    position: absolute;
                    width: 100%;
                    top: 50%;
                  border: 1px solid #fff;  
                  display: inline-block;
                }
            }
        }

        .content{
            padding-top: 20px;
            position:relative;
            font-size: 16px;
            @include respond-above(md){
                font-size: 28px;
            }
            &:before{
                top: 0;
                font-size: 85px;
                line-height: 0;
                position: absolute;
                display: inline-block;
                content: "“";
                font-family: $secondary-font;
                @include respond-above(md){
                    font-size: 120px;
                }
            }
            p{
                margin-bottom: 20px;
            }
            em{
                font-style: italic;
            }
        }
        .quote-small{
            align-items: center;
            display: flex;

            p{
                margin-bottom: 0;
                flex: 0 0 auto;
                width: auto;
                max-width: 100%;  
            }
            .lines{
                height: 2px;
                width: 80%;
                background: #fff;
            }
            &.right{
                .lines{
                    width: 55%;
                    margin-left: 30px;
                }
            }
            &.left{
                .lines{
                    width: 45%;
                    margin-right: 30px;
                } 
            }
        }
    }
    &-quote-one{
        blockquote{
            .lines{
                &.sm{
                    @include respond-above(md){
                        width: 130px;
                    }
                    width: 150px;
                }
                &.md{
                    @include respond-above(md){
                        width: 230px;
                    }
                    width: 170px;
                }
                &.lg{
                    @include respond-above(md){
                        width: 330px;
                        display: inline-block;
                    }
                    display: none;
                }
            }
        }
    }
    &-quote-two{
        blockquote{
            br{
                @include respond-below(md){
                    display: none;
                } 
            }
            .lines{
                &.sm{
                    @include respond-above(md){
                        width: 240px;
                    }
                    width: 80px;
                }
                &.md{
                    @include respond-above(md){
                        width: 350px;
                    }
                    width: 190px;
                }
                &.lg{
                    @include respond-above(md){
                        width: 400px;
                    }
                    width: 55px;
                }
            }
        }
    }

    &-two-column{

        display: flex;
        .content-block{
            display: flex;
            align-items: center;
        }
        h2{
            display: inline-block;
            font-size: 28px;
            text-align: right;
            margin-bottom: 20px;
            text-transform: uppercase;
            @include respond-above(md){
                font-size: 40px;
                margin-bottom: 50px;
                letter-spacing: 5px;
            }
        }
        .text{
            margin-left: 80px;
            @include respond-above(md){
                margin-left: 100px;
            }
        }

        .color-bg-block{
            width:  25%;
            margin-left: 5%;
            &.baby-blue{
                background: #387e79;
            }
            &.mosque{
                background: #005d63;  
            }
            &.gold{
                background: #887a5c;
            }
        }
        &-three{
            .color-bg-block{
                width: 15%;
                margin-left: 0;
            } 
        }


    }
    &-voice-over{

        display: flex;
        .content-block{

            padding-top: 100px;
            display: flex;
            align-items: center;
        }
        .content {
            height: 60vh;
            overflow: hidden;
            font-size: 28px;
            font-family: $secondary-font;
            @include respond-above(md){
                font-size: 37px
            }
            &:before{
                top: 0;
                color: #887a5c;
                font-size: 85px;
                line-height: 0;
                position: absolute;
                display: inline-block;
                content: "“";
                font-family: $secondary-font;
                @include respond-above(md){
                    font-size: 120px;
                }
            }
            .voice-quote-wrap{

                position: relative;
            }
            .quote-text{
                color: #606060;
            }
            .quote-text-overlay{
                position: absolute;
                z-index: 1;
                color: transparent;
                top: 0;
                span{
                    color: #fff;
                }
            }
            p{
                margin-bottom: 30px;
            }
        }
    }
    &-three-row{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
        .media-row{
            position: relative;
            overflow: hidden;
            height: calc(100% / 3);
            .media-image{
                background-repeat: no-repeat;
                position: absolute;
                height: 100vh;
                width: 100vw;
                background-size: cover;
                object-fit: cover;
            }
        }
        .media{
            position: absolute;
            height: 100vh;
            width: 100vw;
        }
        .top{
            .media-image{
                background-position: top;
            }

        }
        .middle{
            .media-image{
                background-position: center -31vh;
            }  
            .line{
                background: #fff;
                height: 2px;
                width: 100%;
                z-index: 3;
                position: absolute;
            }
            .top-line{
                top: 0;
            }
            .bottom-line{
                bottom: 0;
            }

        }
        .bottom{
            .media-image{
                background-position:center -62vh;
            }  
        }  
        .description{
            padding: 0 30px;
            z-index: 3;
            position: absolute;
            h2{
                display: inline-block;
                font-size: 28px;
                text-transform: uppercase;
                @include respond-above(md){
                    font-size: 40px;
                    letter-spacing: 5px;
                }
                span{
                    display: block;
                }
            }
        }

        .bg-block{
            position: absolute;
            height: 100%;
            background: #eadbc7;
            z-index: 3;
        }
        &-one{
            .bg-block{
                @include respond-below(md){
                    display: none;
                }
            }
            .top{
                .bg-block{
                    right: 0;
                    width: 3.5%;
                }
            }
            .middle{
                .bg-block{
                    width: 20%;
                }
                .description{
                    left:  15%;
                    transform: translateY(-50%);
                    top:50%;
                    @include respond-above(md){
                        left:  55%;
                    }
                    h2{
                        margin-bottom:0;
                        span{
                            padding-left: 100px;
                        }
                    }
                }

            }
            .bottom{
                .bg-block{
                    width: 20%;
                }
                .description{
                    color: #eadbc7;
                    padding-top: 40px;
                    left: 35%;
                    max-width: 440px;
                    @include respond-above(md){
                        left: 60%
                    }
                }
            } 
        }
        &-two{
            .top{
                &.media-row{
                    .media-image{
                        height: 33vh;
                    }
                }
                .bg-block{
                    right: 0;
                    width: 20%;
                }
            }   
            .middle{
                .bg-block{
                    width: 45%;
                }
                .description{
                    color: #2c2215;
                    z-index: 5;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    max-width: 360px;
                    position: absolute;
                    @include respond-above(md){
                        left: 8.333333%;
                    }
                }
            }
            .bottom{
                .description{
                    max-width: 680px;
                    padding-top: 30px;
                    @include respond-above(md){
                        left: 8.333333%;
                    } 
                }
            }
        }
    }
    &-two-row{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
        .media-row{
            position: relative;
            overflow: hidden;
            .media-image{
                background-repeat: no-repeat;
                position: absolute;
                height: 100vh;
                width: 100vw;
                background-size: cover;
                object-fit: cover;
            }
        }
        .media{
            position: absolute;
            height: 100vh;
            width: 100vw;
        }
        .top{
            .media-image{
                background-position: top;
            }
            .line{
                background: #fff;
                height: 2px;
                width: 100%;
                z-index: 3;
                position: absolute;
            }
            .bottom-line{
                bottom: 0;
            }
        }
        .bottom{
            .media-image{
                background-position:center -62vh;
            }  
        } 
        .top{
            height: 66.666667%;
        }
        .bottom{
            height: calc(100% / 3 );
        }
        .bg-block{
            position: absolute;
            height: 100%;
            background: #eadbc7;
            z-index: 3;
            width: 25%;
        }
        .description{
            z-index: 5;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            position: absolute;
        }
    }
    &-two-row-two{
        .bottom{
            &.media-row{
                .media-image{
                    height: 33vh;
                    background-position:center top;
                }
            }
        }

    }
    &-text{
        .content{
            padding-top: 110px;
            padding-bottom: 100px;
        }
        .logo{
            margin-bottom: 50px;
            display: inline-block;
        }
    }
}
.link{
    font-size: 25px;
    font-family: $secondary-font;
    text-decoration: none;
    color: #eadbc7;
    border-bottom: 2px solid #eadbc7;
}
.mb-3{
    margin-bottom: 30px !important;
}
.text-center{
    text-align: center;
}
.first-letter{
    font-size:43px;
    font-family: $secondary-font;
    font-style: italic;
    display: block;
    float: left;
    line-height: 1;
    margin:0 10px;
    color: #c0b498;
    @include respond-above(md){
        font-size: 70px;
        margin:0 20px;
    }

}
.color-bg-block{
    background: rgba(19,31,31,0.6);
    width: 100%;
    height: 100%;
    position: absolute;
}
.social-share{
    color: #fff;
    background: #006565;
    text-align: center;
    padding: 20px 0 15px;
    position: relative;
    z-index: 3;
    #social-share{
        margin-top: 10px;
    }
}

.counter{
    position: fixed;
    bottom: 30px;
    line-height: 1;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    font-size: 18px;
    visibility: hidden;
    opacity:0;
    transition: all 0.3s ease-in-out;
    .slider-start &{
        visibility: visible;
        opacity:1;
    }
    .slider-end &{
        visibility: hidden;
        opacity:0;
    }
    @include respond-above(md){
        font-size: 26px;
    }
    .counter-divider{
        border: 1px solid #fff;
        width: 25px;
        position: absolute;
        left: 50%;
        top: 48%;
        transform-origin: center;
        transform: translate(-50%, -50%) rotate(-30deg) ;
        @include respond-above(md){
            width: 35px; 
        }
    }
    .counter-bottom{
        @include respond-above(md){
            padding-left:30px;
        }
        padding-left: 25px;
    }
}
.slider-control{
    > div{
        z-index: 5;
        bottom: 30px;
        position:fixed;
        cursor: pointer;
        &.disabled{
            display: none;
        }
    }
    .arrow-icon{
        position: relative;
        &:before{
            width: 0;
            height: 0;
            border-style: solid;
            transition: all 0.7s cubic-bezier(1, 0, 0.25, 1);
            will-change: transform;
            top: 50%;
            transform: translate(-50%, -50%);
            content: "";
            position: absolute;
            left: 50%;
        }
        &:after{
            background: #fff;
            height: 2px ;
            position: absolute;
            content: "";
            transition: all 0.7s cubic-bezier(1, 0, 0.25, 1);
            will-change: transform;
            top: 50%;
            width: 35px;
            transform: translateY(-50%);
            @include respond-above(md){
                width: 50px; 
            }
        }
        span{
            height: 45px;
            width: 45px;
            border-radius: 50%;
            display: inline-block;
            border: 2px solid #006565;
            transition: transform 0.7s cubic-bezier(1, 0, 0.25, 1);
            will-change: transform;
            @include respond-above(md){
                height: 65px;
                width: 65px;
            }
        }

    }
    .prev-arrow{
        transition: all 0.3s ease-in-out;
        visibility: hidden;
        opacity:0;
        .slider-start &{
            visibility: visible;
            opacity:1;
        }
        padding-left:30px;
        .arrow-icon{
            &:before{
                border-width: 5px 5px 5px 0;
                border-color: transparent #fff transparent transparent;
            }
            &:after{
                left: 50%;
            }
            &:hover{
                span{
                    transform: translateX(-10px);
                }
                &:before{
                    left: 20%;
                }
                &:after{
                    left: 20%;
                    width: 30px;
                }
            }
        }

    }
    .next-arrow{
        padding-right: 30px;
        right:0;
        transition: all 0.3s ease-in-out;
        .slider-end &{
            visibility: hidden;
            opacity:0;
        }
        .arrow-icon{
            &:before{
                border-width: 5px 0 5px 5px;
                border-color: transparent transparent transparent #fff;
            }
            &:after{
                right: 50%;
            }
            &:hover{
                span{
                    transform: translateX(10px);
                }
                &:before{
                    left: 80%;
                }
                &:after{
                    right: 20%;
                    width: 30px;
                }
            }
        }

    }

}
#mute-icon{
    display:none;
}
.desktop-view{ 
    display: block;
}
.mobile-view{
    display: none;
}
@media all and (max-width:499px){
    .desktop-view{
        display: none;
    }
    .mobile-view{
        display:block;
    }
}